{% extends 'partials/base.html' %}
{% block title %} Замовлення {% endblock %}


{% block content %}

{% include 'partials/topnav.html' %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-dark">
                    <tr class="text-white">
                        <th scope="col">Товар</th>
                        <th scope="col">Категорія</th>
                        <th scope="col">Кількість</th>
                        <th scope="col">Оформив Замовлення</th>
                        <th scope="col">Дата Замовлення</th>
                    </tr>
                </thead>
                <tbody>
                   {% for orders in orders %}
                    <tr>
                        <td>{{ orders.product }}</td>
                        <td>{{ orders.product.category }}</td>
                        <td>{{orders.order_quanity}}</td>
                        <td>{{orders.staff}}</td>
                        <td>{{orders.date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}