{% extends 'partials/base.html' %}
{% block title %} Працівники {% endblock %}

{% block content %}
{% include 'partials/topnav.html' %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-dark">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Ім'я</th>
                        <th scope="col">Ел. Пошта</th>
                        <th scope="col">Телефон</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for worker in workers %}
                    <tr>
                        <th scope="row"><a class="btn btn-dark btn-sm" href="{% url 'dashboard-staff-detail' worker.id %}">Переглянути</a></th>
                        <td>{{ worker.username }}</td>
                        <td>{{ worker.email }}</td>
                        <td>{{ worker.profile.phone }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>

</div>

{%endblock%}