{% extends 'partials/base.html' %}

{% block title %}Редагування профілю{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-4">
        <div class="col-md-4 ">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Профіль
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4"> Інформація про профіль</span> 
                            <hr>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                             
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        {{ user_form.username.label_tag }}
                                        {{ user_form.username }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        {{ user_form.email.label_tag }}
                                        {{ user_form.email }}
                                    </div>
                                </div>
                                
                                
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        {{ profile_form.address.label_tag }}
                                        {{ profile_form.address }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        {{ profile_form.phone.label_tag }}
                                        {{ profile_form.phone }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        {{ profile_form.image.label_tag }}
                                        {{ profile_form.image }}
                                    </div>
                                </div>

                            
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="btn btn-info" type="submit" value="Зберегти зміни">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
